#algorithm-processing-container{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    background: #007bff;
    opacity: 0.95;
    z-index: 1000;


}

#algorithm-processing-inner-container{
    width:90%;
    padding: 20px 0;
    margin: 0 auto
}

#calculation-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#calculation-loading-msg{
    font-size: 20px;
    font-weight: 700;
}

#calculation-timer{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

#calculation-info-txt{
    margin-top: 20px;
    font-size: 17px;
    color: #000000;
}

.flex-item{
    margin: 0 10px;
}



canvas {
    width: 100%;
    height: auto;
    min-height: 280px;
}

#errorMessage {
    font-weight: bold;
    color: Red;
    margin-top: 30px;
    margin-bottom: 30px;
}

#triangle-info-container{
    display: none;
}

#triangle-result-container{
     display: none;
     margin-top: 30px;
 }

#preferences{
    display:none;
}

/* Runtime info modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content > .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content > .close:hover,
.modal-content > .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#igc-file-display {
    display: none;
}

#mapWrapper, #barogram-chart {
    max-height: 110vw;
    margin: 6px auto auto;
    width: 100%;
}

#barogram-chart {
    position: relative;
}

#map {
    width: 100%;
    padding-top: 75%; /* 1:1 Aspect Ratio */
    margin-bottom: 15px;
}

#slider label {
    width: 6em;
    vertical-align: top;
}

#slider button {
    width: 2em;
    vertical-align: top;
}

#slider input[type='range'] {
    width: calc(100% - 11em);
    padding-bottom: 0; /* Default padding is huge in Internet Explorer. */
}